{% extends "base.html" %}
{% load static %}
{% block title %}Просмотр{% endblock %}
{% block nav %}
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:add_review" product.pk %}">Новый отзыв </a>
        </li>
    {#        <li class="nav-item">#}
    {#            <a class="nav-link" href="{% url "tracker:add_user" project.pk %}">Редактировать пользователей</a>#}
    {#        </li>#}
{% endblock %}
{% block content %}
    <div class="card flex-row mt-3">
        {% if product.avatar %}
            <img src="{{ product.avatar.url }}" class="card-img-top w-25" alt="...">
        {% else %}
            <img src="{% static 'img/no_image.png' %}" class="card-img-top w-25" alt="...">
        {% endif %}
        <div class="card-body ms-5">
            <h5 class="card-title">Название: {{ product.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Категория {{ product.get_category_display}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Описания: {{product.description }}</h6>
        </div>
    </div>
    {% include 'partial/list_partial.html' %}
{% endblock %}